@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 42% 17%;
    --foreground: 210 13% 94%;

    --card: 222 42% 25%;
    --card-foreground: 210 13% 94%;

    --popover: 222 42% 25%;
    --popover-foreground: 210 13% 94%;

    --primary: 300 19% 67%;
    --primary-foreground: 222 9% 13%;

    --secondary: 222 40% 30%;
    --secondary-foreground: 210 40% 98%;

    --accent: 39 71% 62%;
    --accent-foreground: 222 9% 13%;

    --muted: 222 30% 20%;
    --muted-foreground: 215 20.2% 75.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --font-sans: 'Chivo', sans-serif;
    --font-serif: 'Quicksand', serif;

    --border: 222 30% 40%;
    --input: 222 30% 40%;
    --ring: 300 19% 67%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border ;
  }
  body {
    @apply bg-secondary text-foreground;
  }
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}